body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
/*écriture*/
@font-face{
    font-family: 'bold';
    src: url('police/Raleway-Bold.ttf');
}
@font-face{
    font-family: 'regular';
    src: url('police/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'light';
    src: url('police/Raleway-Light.ttf');
}
@font-face{
    font-family: 'medium';
    src: url('police/Raleway-Medium.ttf');
}
h1, h2, h3{
    font-family: 'bold';
    font-size: 22px;
}
h4{
    font-family: 'medium';
    font-size: 14px;
}
p{
    font-family: 'regular';
}
a{
    font-family: 'medium';
    font-size: 18px;
}
/*media queries desktop*/
@media screen and (min-width: 1024px)
{
/*header*/
.reservia{
    width: 8em;
    height: 4em;
    margin-left: 35px;
    padding-top: 32px;
    padding-bottom: 32px;
}
/*nav*/
#nav_telephone{
    display: none;
}
#nav_desktop{
    display: flex;
    justify-content: space-between;
}
nav{
    padding-top: 32px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 32px;
    margin-left: 16px;
}
nav a{
    font-size: 1.3em;
    color: #1f1f1f;
    padding-top: 44px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
}
nav a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}
#inscrire{
    color: #0065FC;
}
/*en-tete*/
#en_tete{
    margin-left: 35px;
    margin-right: 35px;
}
/*Bouton recherche*/
#bouton_recherche{
    display: flex;
    margin-top: 48px;
}
#div_map_marker{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map_marker{
    width: 15px;
    height: 20px;
}
#recherche{
    width: 20em;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    outline: none;
    border: 0.2em solid  #f2f2f2;
    border-right: none;
}
input{
    font-family: 'medium';
}
label{
    width: 135px;
    height: 50px;
    font-family: 'medium';
    color: white;
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loupe_telephone{
    display: none;
}
/*filtre*/
#filtre{
    display: flex;
    margin-top: 40px;
}
#titre_filtres{
    margin-right: 30px;
    margin-top: 25px;
}
#test{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.bouton_filtre{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 25px;
    height: 50px;
    border-radius: 40px;
    border-top: 4px #f2f2f2 solid;
    border-right: 4px #f2f2f2 solid;
    border-bottom: 4px #f2f2f2 solid;
}
.bouton_filtre:hover{
    background-color: #deebff;
}
.background_icone_filtre{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    border-radius: 30px;
}
.icone_filtre{
    width: 20px;
    height: 20px;
    color: #0065fc;
}
.ecriture{
    padding-left: 16px;
    padding-right: 24px;
}
/*info*/
#info_aide{
    display: flex;
    padding-top: 32px;
}
#info{
    width: 0.6em;
    height: 0.6em;
    padding: 0.3em;
    margin-top: 12.8px;
    margin-right: 8px;
    color: #0065fc;
    border-radius: 30px;
    border: 2px #f2f2f2 solid;
}
/*hébergement + les plus populaires*/
main{
    display: flex;
    justify-content: space-between;
}
/*arrière plan pour hébergement à marseille*/
#article_hebergement{
    background-color: #f2f2f2;
    width: 61.1%;
    min-width: 625px;
    border-radius: 30px;
    margin-top: 32px;
    margin-left: 35px;
    padding-top: 25px;
}
article h3, #texte{
    margin-left: 40px;
}
.texte_banniere{
    font-size: 13px;
}
/*hébergement à marseille*/
.imgs{
    width: 95.9%;
    height: 115px;
    border-radius: 20px 20px  0px 0px;
    border-top: 6px white solid;
    object-fit: cover;
    padding-left: 2%;
}
.image_en_haut, .image_en_bas{
    background-color:white;
    border-radius: 20px;
    width: 28.2%;
    min-width: 100px;
}
.image_en_haut{
    margin-top: 16px;
    margin-bottom: 48px;
}
.image_en_bas{
    margin-bottom: 32px;
}
.banniere{
    padding-left: 15px;
}
#image_hebergement_du_haut, #image_hebergement_du_bas{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.etoile{
    padding-left: 15px;
    margin-bottom: 10px;
}
.blue_star{
    color: #0065FC;
    width: 15px;
    height: 15px;
}
.star{
    color: #f2f2f2;
    width: 15px;
    height: 15px;
}
/*arrière plan pour "les plus populaires"*/
#aside{
    background-color: #f2f2f2;
    width: 29.2%;
    min-width: 299px;
    margin-top: 32px;
    margin-right: 35px;
    border-radius: 30px;
    padding-top: 32px;
}
/*les plus populaires*/
#populaire{
    display: flex;
    justify-content: space-between;
}
#chart{
    width: 26px;
    height: 25px;
    margin-top: 22px;
    margin-right: 45px;
}
.div_populaire{
    display: flex;
    width: 88%;
    min-width: 242px;
    height: 170px;
    margin: 20px auto;
}
.imgs_populaire{
    object-fit: cover;
    width: 130px;
    height: 160px;
    border-radius: 20px 0px 0px 20px;
    border-left: 5px white solid;
    border-bottom: 5px white solid;
    border-top: 5px white solid;
}
.banniere_populaire
{
    width: 61.8%;
    background-color: white;
    border-radius: 0px 20px 20px 0px; 
    padding: 0px 16px;
}
.etoile_populaire, #etoile_populaire{
    margin-top: 20px;
}
/*Activités à Marseille*/
#activite_marseille{
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 60px;
}
#activite_marseille_tablette{
    display: none;
}
#ancre_activite{
    padding-top: 32px;
    margin-left: 35px;
    margin-right: 35px;
}
/*images "activités à Marseille"*/
.grande_image_et_grande_banniere, #grande_image_et_grande_banniere, .activite_marseille_flex{
    width: 22.26%;
    min-width: 212.36px;
}
.grande_image, #grande_image, .moyenne_image, .petite_image{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.grande_image{
    height: 390px;
}
#grande_image{
    height: 390px;
}
.moyenne_image{
    height: 180px;
}
.petite_image{
    height: 110px;
}
.banniere_grande_image, #banniere_grande_image, .banniere_moyenne_image, .banniere_petite_image{
    padding-left: 20px;
    font-size: 0.8em;
}
.banniere_moyenne_image, .banniere_petite_image{
    padding-bottom: 1px;
}
#div_moyenne, #div_petit{
    margin-bottom: 42px;
}
.petite_image_et_petite_banniere, .moyenne_image_et_moyenne_banniere, .grande_image_et_grande_banniere, #grande_image_et_grande_banniere{
    border-radius: 20px;
    box-shadow: 0px 5px 5px #f2f2f2;
}
.grande_image_et_grande_banniere{
    margin: 0px auto;
}
#grande_image_et_grande_banniere{
    margin-right: auto;
}
/*footer*/
footer{
    background-color: #f2f2f2;
}
#bas_de_page{
    width: 75%;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 35px;
}
#nos_hebergements{
    margin: 0px auto;
}
}
/*media queries tablette*/
@media screen and (min-width: 667px) and (max-width: 1023px)
{
/*écriture*/
@font-face{
    font-family: 'bold';
    src: url('police/Raleway-Bold.ttf');
}
@font-face{
    font-family: 'regular';
    src: url('police/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'light';
    src: url('police/Raleway-Light.ttf');
}
@font-face{
    font-family: 'medium';
    src: url('police/Raleway-Medium.ttf');
}
h1, h3{
    font-family: 'bold';
    font-size: 20px;
}
h2{
    font-family: 'bold';
    font-size: 22px;
}
h4{
    font-family: 'medium';
    font-size: 17px;
}
p{
    font-family: 'regular';
}
/*header*/
.reservia{
    width: 8em;
    height: 4em;
    margin-left: 15px;
}
/*nav*/
#nav_telephone{
    display: none;
}
#nav_desktop{
    display: flex;
    justify-content: space-between;    
}
nav{
    padding-top: 8px;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 32px;
    margin-left: 16px;
}
nav a{
    font-size: 20.8px;
    color: #1f1f1f;
    padding-top: 33.6px;
    text-decoration: none;
}
/*en-tete*/
#en_tete{
    margin-left: 15px;
}
/*Bouton recherche*/
#bouton_recherche{
    display: flex;
    margin-top: 48px;
}
#div_map_marker{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map_marker{
    width: 15px;
    height: 20px;
}
#recherche{
    width: 20em;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    outline: none;
    border: 0.2em solid  #f2f2f2;
    border-right: none;
}
input{
    font-family: 'medium';
}
label{
    width: 135px;
    height: 50px;
    font-family: 'medium';
    color: white;
    background-color:#0065FC;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loupe_telephone{
    display: none;
}
/*filtre*/
#filtre{
    display: flex;
    margin-top: 16px;
    margin-right: 15px;
}
#titre_filtres{
    margin-right: 25px;
    margin-top: 25px;
}
#test{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.bouton_filtre{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 25px;
    height: 50px;
    border-radius: 40px;
    border-top: 4px #f2f2f2 solid;
    border-right: 4px #f2f2f2 solid;
    border-bottom: 4px #f2f2f2 solid;
}
.bouton_filtre:hover{
    background-color: #deebff;
}
.background_icone_filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #deebff;
    border-radius: 30px;
}
.icone_filtre{
    width: 20px;
    height: 20px;
    color: #0065fc;
}
.ecriture{
    padding-left: 10px;
    padding-right: 15px;
}
/*info*/
#info_aide{
    display: flex;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
}
#info{
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-top: 13px;
    margin-right: 20px;
    margin-left: 3px;
    color: #0065fc;
    border-radius: 20px;
    border: 2px #f2f2f2 solid;
}
/*arrière plan pour hébergement à marseille*/
main{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 35px;
}
#article_hebergement{
    margin-top: 35px;
}
.titre_article, #texte, #ancre_activite{
    margin-left: 20px;
}
.titre_article{
    font-size: 20px;
}
/*hébergement à marseille*/
.imgs{
    width: 96%;
    height: 250px;
    border-radius: 20px 20px  0px 0px;
    border-left: 6px white solid;
    border-right: 6px white solid;
    border-top: 6px white solid;
    object-fit: cover;
}
.image_en_haut, .image_en_bas{
    background-color:white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #f2f2f2;
    width: 95%;
    margin: 30px auto;
}
.image_en_haut{
    margin-top: 24px;
}
.banniere{
    padding-left: 11px;
    font-size: 0.8em;
    line-height: 80%;
}
.etoile{
    padding-left: 10px;
    margin-bottom: 10px;
}
.blue_star{
    color: #0065FC;
    width: 20.8px;
    height: 20.8px;
}
.star{
    color: #f2f2f2;
    width: 20.8px;
    height: 20.8px;
}
/*arrière plan pour "les plus populaires"*/
#aside{
    width: 100%;
    padding-bottom: 64px;
    margin-top: 35px;
    background-color: #f2f2f2;
}
/*les plus populaires*/
#populaire{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
#chart{
    width: 2em;
    height: 2em;
    margin-top: 16px;
}
.div_populaire{
    display: flex;
    height: 10.5em;
    width: 95%;
    margin: 32px auto;
    box-shadow: 0px 5px 5px #f2f2f2;
    border-radius: 20px;
}
.imgs_populaire{
    width: 146px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    border-left: 9px white solid;
    border-bottom: 9px white solid;
    border-top: 9px white solid;
    object-fit: cover;
}
.banniere_populaire
{
    width: 80%;
    height: 168px;
    background-color: white;
    color:black;
    border-radius: 0px 20px 20px 0px; 
    padding-left: 16px; 
}
.etoile_populaire{
    margin-top: 35px;
}
#etoile_populaire{
    margin-top: 35px;
}
/*activité à Marseille*/
#ancre_activite{
    margin-bottom: 32px;
}
#activite_marseille{
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 10px;
}
.activite_marseille_flex{
    display: flex;
}
/*images "activités à Marseille"*/
.grande_image_et_grande_banniere, #grande_image_et_grande_banniere{
    margin: 0px 80px;
}
.grande_image, #grande_image{
    width: 100%;
    height: 304px;
    border-radius: 20px 20px  0px 0px;
    object-fit: cover;
}
.banniere_grande_image, #banniere_grande_image{
    padding-left: 12px;
}
.moyenne_image_et_moyenne_banniere, .petite_image_et_petite_banniere{
    width: 42%;
}
.moyenne_image_et_moyenne_banniere, .petite_image_et_petite_banniere{
    margin: auto;
}
.moyenne_image, .petite_image{
    width: 100%;
    height: 272px;
    border-radius: 20px 20px  0px 0px;
    object-fit: cover;
}
.banniere_moyenne_image, .banniere_petite_image{
    padding-left: 12px;
}
.grande_image_et_grande_banniere, #grande_image_et_grande_banniere, .moyenne_image_et_moyenne_banniere, .petite_image_et_petite_banniere{
    border-radius: 20px;
    margin-bottom: 48px;
    padding-bottom: 4px;
    box-shadow: 0px 5px 5px #f2f2f2;
}
/*footer*/
footer{
    width: 100%;
    background-color: #f2f2f2;
}
#bas_de_page{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}
}
/*media queries telephone*/
@media screen and (max-width: 666px)
{
/*body*/
body{
    padding-top: 2em;
    margin: 0px;
}
/*écriture téléphone*/
h1{
    font-family: 'bold';
    font-size: 25px;
}
h2{
    font-family: 'medium';
    font-size: 17px;
}
h3{
    font-family: 'medium';
    font-size: 16px;
}
p{
    font-family: 'regular';
    font-size: 14px;
}
#acceuil{
    font-family: 'regular';
    font-size: 16px;
    text-align: justify;
}
/*header*/
.reservia{
    width: 130px;
    height: 65px;
}
#nav_desktop{
    display: none;
}
/*nav*/
#nav_telephone_top, #nav_telephone_bottom{
    display: flex;
    justify-content: space-between;
}
#nav_telephone_top{
    margin-left: 20px;
    margin-right: 20px;
}
#nav_telephone_bottom{
    width: 100%;
    margin-top: 30px;
    color: #0065FC;
}
#nav_telephone_inscrire{
    color: #0065FC;
    margin-top: 20px;
}
#nav_telephone_hebergement{
    padding-left: 11.75%;
    width: 38.25%;
}
#nav_telephone_activite{
    width: 17.50%;
    padding-left: 20.75%;
    padding-right: 11.75%;
}
#nav_telephone_activite, #nav_telephone_hebergement{
    padding-bottom: 10px;
    border-bottom: 5px solid #f2f2f2;
    color: #1f1f1f;
}
nav a{
    font-size: 20.8px;
    text-decoration: none;
}
#nav_telephone_hebergement:hover, #nav_telephone_activite:hover{
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
    padding-bottom: 10px;
}
/*Bouton recherche*/
#en_tete{
    margin-left: 20px;
    margin-right: 20px;
}
#bouton_recherche{
    display: flex;
    margin-top: 40px;
}
#div_map_marker{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}
#map_marker{
    width: 15px;
    height: 20px;
}
#recherche{
    width: 80%;
    height: 50px;
    padding: 5px;
    outline: none;
    border: 3.2px solid  #f2f2f2;
    border-right: none;
    font-family: 'medium';
}
label{
    display: none;
}
#loupe_telephone{
    width: 50px;
    height: 50px;
    background-color:  #0065fc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loupe{
    width: 20px;
    height: 20px;
    color: white;
}
/*filtre*/
#filtre{
    margin-top: 16px;
}
#test{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.bouton_filtre{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 8px;
    height: 50px;
    border-radius: 40px;
    border: 3px #f2f2f2 solid;
    border-left: none;
}
.bouton_filtre:hover{
    background-color: #deebff;
}
.background_icone_filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #deebff;
    border-radius: 30px;
}
.icone_filtre{
    width: 20px;
    height: 20px;
    color: #0065fc;
}
.ecriture{
    padding-left: 10px;
    padding-right: 15px;
}
/*info*/
#info_aide{
    display: flex;
    align-items: center;
    margin-top: 13px;
}
#info{
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 5px;
    color: #0065fc;
    border-radius: 20px;
    border: 2px #f2f2f2 solid;
    margin-right: 5px;
}
/*arrière plan pour hébergement à marseille*/
main{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 35px;
}
#article_hebergement{
    margin-top: 35px;
}
.titre_article, #texte, #ancre_activite{
    margin-left: 20px;
}
.titre_article{
    font-size: 20px;
}
/*hébergement à marseille*/
.imgs{
    width: 96%;
    height: 10em;
    border-radius: 20px 20px  0px 0px;
    border-left: 6px white solid;
    border-right: 6px white solid;
    border-top: 6px white solid;
    object-fit: cover;
}
.image_en_haut, .image_en_bas{
    background-color:white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #f2f2f2;
    width: 95%;
    margin: 30px auto;
}
.image_en_haut{
    margin-top: 24px;
}
.banniere{
    padding-left: 11px;
    font-size: 0.8em;
    line-height: 80%;
}
.etoile{
    padding-left: 10px;
    margin-bottom: 10px;
}
.blue_star{
    color: #0065FC;
    width: 20.8px;
    height: 20.8px;
}
.star{
    color: #f2f2f2;
    width: 20.8px;
    height: 20.8px;
}
/*arrière plan pour "les plus populaires"*/
#aside{
    width: 100%;
    padding-bottom: 64px;
    margin-top: 35px;
    background-color: #f2f2f2;
}
/*les plus populaires*/
#populaire{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
#chart{
    width: 2em;
    height: 2em;
    margin-top: 16px;
}
.div_populaire{
    display: flex;
    height: 10.5em;
    width: 95%;
    margin: 32px auto;
    box-shadow: 0px 5px 5px #f2f2f2;
    border-radius: 20px;
}
.imgs_populaire{
    width: 146px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    border-left: 9px white solid;
    border-bottom: 9px white solid;
    border-top: 9px white solid;
    object-fit: cover;
}
.banniere_populaire
{
    width: 80%;
    height: 168px;
    background-color: white;
    color:black;
    border-radius: 0px 20px 20px 0px; 
    padding-left: 16px; 
}
.etoile_populaire{
    margin-top: 35px;
}
#etoile_populaire{
    margin-top: 35px;
}
/*Activités à Marseille*/
#activite_marseille{
    width: 100%;
    padding-bottom: 10px;
}
/*images "activités à Marseille"*/
.grande_image_et_grande_banniere, #grande_image_et_grande_banniere, .moyenne_image_et_moyenne_banniere, .petite_image_et_petite_banniere{
    background-color:white;
    border-radius: 20px;
    margin-bottom: 48px;
    padding-bottom: 7px;
    box-shadow: 0px 5px 5px #f2f2f2;
    width: 95%;
    margin: 45px auto;
}
.grande_image, #grande_image, .moyenne_image, .petite_image{
    width: 100%;
    height: 11em;
    border-radius: 20px 20px  0px 0px;
    object-fit: cover;
}
.banniere_grande_image, #banniere_grande_image, .banniere_moyenne_image, .banniere_petite_image{
    padding-left: 11px;
    font-size: 0.8em;
}
/*footer*/
footer{
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}
}