body{
    margin: 0px;
    padding: 0px;
}

/*écriture*/

@font-face{
    font-family: 'bold';
    src: url('police/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'regular';
    src: url('police/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'light';
    src: url('police/Raleway-Light.ttf');
}

@font-face{
    font-family: 'medium';
    src: url('police/Raleway-Medium.ttf');
}

h1{
    font-family: 'bold';
    font-size: 22px;
}

h2{
    font-family: 'bold';
    font-size: 24px;
}

h3{
    font-family: 'bold';
    font-size: 22px;
}

h4{
    font-family: 'medium';
    font-size: 17px;
}

p{
    font-family: 'regular';
}

/*media queries desktop*/

@media screen and (min-width: 376px)
{

/*header*/

.reservia{
    width: 8em;
    height: 4em;
    margin-left: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*nav*/

#nav_telephone{
    display: none;
}

#nav_desktop{
    display: flex;
    justify-content: space-between;
}

nav{
    padding-top: 2em;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 2em;
    margin-left: 1em;
}

nav a{
    font-size: 1.3em;
    color: grey;
    padding-top: 2.1em;
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
}

nav a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}

#inscrire{
    color: #0065FC;
}

/*en-tete*/

#en_tete{
    margin-left: 3em;
}

/*Bouton recherche*/

#bouton_recherche{
    display: flex;
    margin-top: 2em;
}

#map_marker{
    width: 1em;
    height: 1em;
    padding: 0.7em;
    margin-top: 0.98em;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

input{
    height: 2.77em;
    font-family: 'medium';
}

#back{
    background-color:#0065FC;
    height: 2.3em;
    margin-top: 1em;
    padding-right: 1.5em;    
    border-radius: 0px 15px 15px 0px;
}

label{
    font-family: 'medium';
    padding-left: 1.5em;
    color: white;
}

/*filtre*/

#filtre_desktop{
    display: flex;
    margin-top: 3em;
}

#filtre_telephone{
    display: none;
}

.aide{
    display: flex;
    margin-left: 3.5em;
    height: 4em;
    border-radius: 40px;
    border-top: 4px #f2f2f2 solid;
    border-right: 4px #f2f2f2 solid;
    border-bottom: 4px #f2f2f2 solid;
}

.aide:hover{
    background-color: #deebff;
}

#aide_desktop{
    display: flex;
    margin-left: 3.5em;
    min-width: 18em;
    height: 4em;
    border-radius: 40px;
    border-top: 4px #f2f2f2 solid;
    border-right: 4px #f2f2f2 solid;
    border-bottom: 4px #f2f2f2 solid;
}

#aide_desktop:hover{
    background-color: #deebff;
}

.svg{
    width: 1.5em;
    height: 1.5em;
    padding: 1.25em;
    border-radius: 30px;
    color: #0065fc;
    background-color: #deebff;
}

.ecriture{
    padding-left: 1em;
    padding-right: 1.5em;
}

/*info*/

#info_aide{
    display: flex;
    padding-top: 2em;
}

#info{
    width: 0.6em;
    height: 0.6em;
    padding: 0.3em;
    margin-top: 0.8em;
    margin-right: 0.5em;
    color: #0065fc;
    border-radius: 30px;
    border: 2px #f2f2f2 solid;
}

/*arrière plan pour hébergement à marseille*/

#article{
    background-color: #f2f2f2;
    margin-top: 2em;
    margin-left: 2.5%;
    border-radius: 30px;
    width: 58.8%;
    padding:  2.5% 0%;
}

article h2{
    margin-left: 2em;
}

#texte{
    margin-left: 2.525em;
}

/*hébergement à marseille*/

.imgs{
    width: 96%;
    height: 9em;
    border-radius: 20px 20px  0px 0px;
    border-left: 6px white solid;
    border-right: 6px white solid;
    border-top: 6px white solid;
    object-fit: cover;
}

.ecart_haut, .ecart_bas{
    background-color:white;
    border-radius: 20px;
    margin-left: 2.525em;
}

.ecart_haut{
    margin-top: 1em;
    margin-bottom: 3em;
    width: 28.2%;
}

.ecart_bas{
    margin-bottom: 2em;
    width: 28.2%;
}

.banniere{
    padding-left: 11px;
    font-size: 0.8em;
    line-height: 80%;
}

#haut, #bas{
    display: flex;
}

.etoile{
    padding-left: 10px;
    margin-bottom: 10px;
}

.blue_star{
    color: #0065FC;
    width: 1.3em;
    height: 1.3em;
}

.star{
    color: #f2f2f2;
    width: 1.3em;
    height: 1.3em;
}

/*arrière plan pour "les plus populaires"*/

#aside{
    background-color: #f2f2f2;
    margin-top: 2em;
    margin-right: 3em;
    border-radius: 30px;
    width: 33.6%;
    padding-top: 2em;
}

/*les plus populaires*/

#populaire{
    display: flex;
}

#chart{
    width: 2em;
    height: 2em;
    margin-left: 48.7%;
    margin-top: 1.5em;
}

.div_populaire{
    display: flex;
    height: 13em;
    margin-top: 1.7em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.imgs_populaire{
    object-fit: cover;
    width: 14em;
    height: 11.6em;
    border-radius: 20px 0px 0px 20px;
    border-left: 0.7em white solid;
    border-bottom: 0.7em white solid;
    border-top: 0.7em white solid;
}

.banniere_populaire
{
    width: 18.3em;
    background-color: white;
    border-radius: 0px 20px 20px 0px; 
    padding: 0em 1em;
}

.etoile_populaire, #etoile_populaire{
    margin-top: 4.5em;
}

/*hébergement + les plus populaires*/

section{
    display: flex;
    margin-bottom: 3em;
    justify-content: space-between;
}

/*Activités à Marseille*/

#activite_marseille{
    display: flex;
}

#ancre_activite{
    padding-top: 2em;
    margin-left: 2em;
}

/*images "activités à Marseille"*/

.grande_image_et_grande_banniere{
    margin-left: 2.25em;
    margin-right: 2.25em;
    width: 22%;
}

.grande_image{
    width: 100%;
    height: 41.5em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#grande_image_et_grande_banniere{
    margin-left: 3em;
    margin-right: 2.25em;
    width: 22%;
}

#grande_image{
    width: 100%;
    height: 41.5em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.moyenne_image_et_moyenne_banniere{
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
}

.moyenne_image{
    width: 100%;
    height: 19em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.petite_image_et_petite_banniere{
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
}

.petite_image{
    width: 100%;
    height: 14em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;   
}

.banniere_grande_image, #banniere_grande_image, .banniere_moyenne_image, .banniere_petite_image{
    padding-left: 2em;
    font-size: 0.8em;
}

.petite_image_et_petite_banniere, .moyenne_image_et_moyenne_banniere, .grande_image_et_grande_banniere, #grande_image_et_grande_banniere{
    margin-top: 1em;    
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #f2f2f2;
}

.div{    
    width: 23.5%;
}

/*footer*/

footer{
    background-color: #f2f2f2;
    width: 100%;
}

#bas_de_page{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

#a_propos{
    width: 35em;
    padding-left: 3.5em;
}

#nos_hebergements{
    width: 35em;
    padding-left: 5em;
}

#assistance{
    width: 35em;
    padding-left: 5em;
}
}


/*media queries*/

@media screen and (max-width: 375px)
{

/*écriture téléphone*/
h1{
    font-family: 'bold';
    font-size: 25px;
}

h2{
    font-family: 'medium';
    font-size: 22px;
    margin-left: 10px;
}

h3{
    font-family: 'medium';
    font-size: 16px;
}

p{
    font-family: 'regular';
    font-size: 14px;
}

#acceuil{
    font-family: 'regular';
    font-size: 16px;
    text-align: justify;
}

/*header*/

.reservia{
    width: 130px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#nav_desktop{
    display: none;
}

/*nav*/

nav{
    width: 375px;
    
}

#nav_telephone{
    display: flex;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

#nav_top{
    margin-left: 240px;
}

#nav_bottom_left{
    margin-top: 40px;
}

#nav_bottom{
    margin-top: 40px;
    margin-left: 90px;
}

nav li{
    list-style-type: none;
}

nav a{
    font-size: 20.8px;
    color: #0065FC;
    text-decoration: none;
}

/*Bouton recherche*/

#bouton_recherche{
    display: flex;
    margin-top: 25px;
}

#map_marker{
    width: 20.8px;
    height: 20.8px;
    padding: 8px;
    margin-top: 15px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

input{
    height: 2.6em;
    font-family: 'medium';
}

#back{
    background-color:#0065FC;
    height: 34.56px;
    margin-top: 16px;
    padding-right: 16px;    
    border-radius: 0px 15px 15px 0px;
}

label{
    font-family: 'medium';
    padding-left: 1.5em;
    color: white;
}

/*en-tête*/

#filtre_telephone{
    margin-top: 35px;
    margin-bottom: 20px;
}

#filtre_desktop{
    display: none;
}

#en_tete{
    width: 375px;
}

#icone_filtre{
    display: flex;
    flex-flow: row wrap;
}

.aide{
    display: flex;
    height: 52px;
    margin-bottom: 1em;
    padding-right: 10px;
    border-radius: 45px;
    border: 3px #f2f2f2 solid;
}

#aide_telephone{
    display: flex;
    height: 52px;
    margin-bottom: 1em;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 45px;
    border: 3px #f2f2f2 solid;
}

.svg{
    width: 26px;
    height: 26px;
    padding: 13px;
    border-radius: 30px;
    color: #0065fc;
    background-color: #deebff;
}

.ecriture{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*info*/

#info_aide{
    display: flex;
}

#info{
    background-color: white;
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-top: 13px;
    margin-right: 20px;
    margin-left: 3px;
    color: #0065fc;
    border-radius: 20px;
    border: 2px #f2f2f2 solid;
}

/*arrière plan pour hébergement à marseille*/

section{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 35px;
}

#article{
    width: 365px;
    margin: 5px;
    margin-top: 35px;
}

/*hébergement à marseille*/

.imgs{
    width: 353px;
    height: 10em;
    border-radius: 20px 20px  0px 0px;
    border-left: 6px white solid;
    border-right: 6px white solid;
    border-top: 6px white solid;
    object-fit: cover;
}

.ecart_haut, .ecart_bas{
    background-color:white;
    border-radius: 20px;
    margin-bottom: 1.5em;
    box-shadow: 0px 5px 5px;
}

.ecart_haut{
    margin-top: 1.5em;
}

.banniere{
    padding-left: 11px;
    font-size: 0.8em;
    line-height: 80%;
}

.etoile{
    padding-left: 10px;
    margin-bottom: 10px;
}

.blue_star{
    color: #0065FC;
    width: 1.3em;
    height: 1.3em;
}

.star{
    color: #f2f2f2;
    width: 1.3em;
    height: 1.3em;
}

/*arrière plan pour "les plus populaires"*/

#aside{
    width: 365px;
    padding: 5px;
    padding-bottom: 4em;
    margin-top: 35px;
    background-color: #f2f2f2;
}

/*les plus populaires*/

#populaire{
    display: flex;
}

#chart{
    width: 7%;
    height: 7%;
    margin-left: 110px;
    margin-top: 5%;
}


.div_populaire{
    display: flex;
    margin-top: 2em;
    box-shadow: 0px 5px 5px;
    border-radius: 20px;
    height: 168px;
}

.imgs_populaire{
    width: 146px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    border-left: 9px white solid;
    border-bottom: 9px white solid;
    border-top: 9px white solid;
    object-fit: cover;
}

.banniere_populaire
{
    width: 224px;
    height: 168px;
    background-color: white;
    color:black;
    border-radius: 0px 20px 20px 0px; 
    padding-left: 1em; 
}

.etoile_populaire{
    margin-top: 64px;
}

#etoile_populaire{
    margin-top: 43px;
}

/*Activités à Marseille*/

#activite_marseille{
    width: 365px;
    padding-left: 10px;
    padding-top: 1em;
    padding-bottom: 10px;
}

/*images "activités à Marseille"*/

.grande_image_et_grande_banniere, #grande_image_et_grande_banniere, .moyenne_image_et_moyenne_banniere, .petite_image_et_petite_banniere{
    background-color:white;
    border-radius: 20px;
    margin-bottom: 3em;
    padding-bottom: 7px;
    box-shadow: 0px 5px 5px;
    width: 95%;
}

.grande_image, #grande_image, .moyenne_image, .petite_image{
    width: 100%;
    height: 11em;
    border-radius: 20px 20px  0px 0px;
    object-fit: cover;
}

.banniere_grande_image, #banniere_grande_image, .banniere_moyenne_image, .banniere_petite_image{
    padding-left: 11px;
    font-size: 0.8em;
}

/*footer*/

footer{
    width: 350px;
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}
}