body{
    margin: 0px;
    padding: 0px;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
}


#reservia{
    width: 14em;
    height: 7em;
}

/*nav*/

nav{
    padding-top: 0.6em;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 5em;
}

nav a{
    font-size: 1.3em;
    color: #0065FC;
    padding-top: 21px;
    text-decoration: none;
}

nav a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}

/*en-tete*/
#en_tete{
    margin-left: 1em;
}

#filtre{
    display: flex;
    padding-top: 1em;
}

#svg{
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 30px;
    background-color: #f2f2f2;
}

#aide{
    display: flex;
    margin-left: 5em;
    height: 4em;
    border-radius: 40px;
    border: 5px #f2f2f2 solid;
}

#ecriture{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*info*/

#info_aide{
    display: flex;
    padding-top: 2em;
}

#info{
    width: 1.5em;
    height: 1.5em;
    padding: 0.9em;
}