body{
    margin: 0px;
    padding: 0px;
}

/*écriture*/

@font-face{
    font-family: 'bold';
    src: url('police/Raleway-Bold.ttf');
}

@font-face{
    font-family: 'regular';
    src: url('police/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'light';
    src: url('police/Raleway-Light.ttf');
}

@font-face{
    font-family: 'medium';
    src: url('police/Raleway-Medium.ttf');
}

h1{
    font-family: 'bold';
    font-size: 20px;
}

h2{
    font-family: 'medium';
    font-size: 17px;
}

h3{
    font-family: 'bold';
    font-size: 22px;
}

p{
    font-family: 'Extralight';
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
}


#reservia{
    width: 14em;
    height: 7em;
}

/*nav*/

nav{
    padding-top: 0.6em;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 5em;
}

nav a{
    font-size: 1.3em;
    color: #0065FC;
    padding-top: 21px;
    text-decoration: none;
}

nav a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}

/*Bouton recherche*/

#bouton_recherche{
    display: flex;
}

#map_marker{
    width: 1.3em;
    height: 1.3em;
    padding: 0.55em;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

input{
    height: 2.77em;
    font-family: 'medium';
}

#back{
    background-color:#0065FC;
    height: 2.3em;
    margin-top: 1em;
    padding-right: 1.5em;    
    border-radius: 0px 15px 15px 0px;
}

label{
    font-family: 'medium';
    padding-left: 1.5em;
    color: white;
}

/*en-tete*/
#en_tete{
    margin-left: 1em;
}

#filtre{
    display: flex;
    padding-top: 1em;
}

.svg{
    display: flex;
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 30px;
    color: #0065fc;
    background-color: #deebff;
}

.aide{
    display: flex;
    margin-left: 5em;
    height: 4em;
    border-radius: 40px;
    border: 5px #f2f2f2 solid;
}

#aide{
    display: flex;
    margin-left: 5em;
    min-width: 18em;
    height: 4em;
    border-radius: 40px;
    border: 5px #f2f2f2 solid;    
}

.ecriture{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*info*/

#info_aide{
    display: flex;
    padding-top: 2em;
}

#info{
    width: 1.5em;
    height: 1.5em;
    padding: 0.9em;
}

/*arrière plan pour hébergement à marseille*/

#article{
    background-color: #f2f2f2;
    margin-top: 2em;
    margin-left: 2em;
    border-radius: 30px;
    min-width: 67em;
    padding: 2em;
}

/*hébergement à marseille*/

.imgs{
    width: 14em;
    height: 9.3em;
    border-radius: 20px 20px  0px 0px;
    border-left: 9px white solid;
    border-right: 9px white solid;
    border-top: 9px white solid;    
}

.ecart_haut, .ecart_bas{
    background-color:white;
    border-radius: 20px;
    margin-bottom: 3em;
    margin-left: 5%;
    margin-right: 5%;
}

.ecart_haut{
    margin-top: 2em;
}

.banniere{
    padding-left: 11px;
    font-size: 0.8em;
}

#haut, #bas{
    display: flex;
}

.etoile{
    padding-left: 10px;
    margin-bottom: 10px;
}

.blue_star{
    color: #0065FC;
    width: 1.3em;
    height: 1.3em;
}

.star{
    color: #f2f2f2;
    width: 1.3em;
    height: 1.3em;
}

/*arrière plan pour "les plus populaires"*/

#aside{
    background-color: #f2f2f2;
    margin-top: 2em;
    margin-left: 4em;
    border-radius: 30px;
    width: 34em;
    padding: 2em;
}

/*les plus populaires*/

#populaire{
    display: flex;
}

#chart{
    width: 8%;
    height: 8%;
    margin-left: 50%;
    margin-top: 1%;
}

.div_populaire{
    display: flex;
    margin-top: 3em;
    padding-left: 1em;
    height: 10.7em;
}

.imgs_populaire{
    width: 14em;
    height: 9.3em;
    border-radius: 20px 0px 0px 20px;
    border-left: 0.7em white solid;
    border-bottom: 0.7em white solid;
    border-top: 0.7em white solid;
}

.banniere_populaire
{
    width: 14em;
    background-color: white;
    color:black;
    border-radius: 0px 20px 20px 0px; 
    padding-left: 1em; 
    padding-right: 1em;
}

.etoile_populaire{
    margin-top: 4em;
}

#etoile_populaire{
    margin-top: 3em;
}

/*hébergement + les plus populaires*/

section{
    display: flex;
    margin-bottom: 3em;
}

/*Activités à Marseille*/

#activite_marseille{
    display: flex;
}

/*images "activités à Marseille"*/

.grande_image_et_grande_banniere{
    margin-left: 5em;
    margin-right: 2em;
}

.grande_image{
    width: 25em;
    height: 42.5em;
    border-radius: 20px 20px 0px 0px;
}

.petite_image_et_petite_banniere{
    margin-left: 3em;
    padding-bottom: 0.5em;
}

.petite_image{
    width: 22em;
    height: 17.5em;
    border-radius: 20px 20px 0px 0px;   
}

.banniere_grande_image, .banniere_petite_image{
    padding-left: 11px;
    font-size: 0.8em;
}

.petite_image_et_petite_banniere, .grande_image_et_grande_banniere{
    margin-top: 3em;    
    margin-bottom: 60px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 5px;
}

#ancre_activite{
    padding-top: 1em;
}

/*footer*/

footer{
    background-color: #f2f2f2;
}

#bas_de_page{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

#a_propos{
    width: 35em;
    padding-left: 5em;
}

#nos_hebergements{
    width: 35em;
    padding-left: 5em;
}

#assistance{
    width: 35em;
    padding-left: 5em;
}